<html>
<head>
{% comment %} Tag that allows scripts and plugins to be added to your theme{% endcomment %}
{{content_for_header}}
</head>
<body>
{% comment %} Tag that allows for template data to be plugged in {% endcomment %}
{{content_for_layout}}
</body>
</html>